<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="animated.css">
    <title>Maddogg Software Demo Portfolio</title>
  </head>
  <body>
    <div class="container">
      <h1>Thank you for scanning the QR Code, below you will find options to enhance your business or profiles</h1>
      	<img width="25%" style="position: relative;" src="https://maddoggsoftware.com/images/MdgLogo.gif"></img>	
	<br>	
<small>If you have questions about how custom software can help your business or increase engagement for your social profiles, leave a question here and receive a free 30 minute consulatition from the Maddogg Software Development team</small>
<br><br>
<div class="content">
          <a href="#" class="btn">
            <span class="left icon icon-tablet"></span>
            <span class="right title">Static Websites</span>
          </a> 
		<br>
          <a href="#" class="btn">
            <span class="left title">Dynamic Websites</span>
            <span class="right icon icon-tablet"></span>
          </a>
        </div>
        <br>
        <div class="content">
          <a href="#" class="btn left">
            <span class="left icon icon-external-link"><span class="arrow-left"></span></span>
            <span class="right title">Web Apps</span>
          </a>
		<br>
          <a href="#" class="btn right">
            <span class="left title">Mobile Apps</span>
            <span class="right icon icon-mobile-phone"><span class="arrow-right"></span></span>
          </a>
        </div>
        <br>
        <div class="content">
          <a href="#" class="btn left">
            <span class="left icon icon-magic"></span>
            <span class="right title"><span class="arrow-right"></span>Learn More</span>
          </a>
		<br>
          <a href="#" class="btn right">
            <span class="left title"><span class="arrow-left"></span>Request Custom Software</span>
            <span class="right icon icon-magic"></span>
          </a>
        </div>
        <br>
        </div>    

</div>

        <br>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
